<div class="row">
    <div class="col-6 p-3 border">
      <h2 class="text-center">Entrada</h2>
      <div class="form-floating">
        <textarea
          class="form-control"
          name="input"
          id="input"
          style="height: 55vh"            
        >
        {{ output }}</textarea>
      </div>
    </div>   
    <div class="col-6 p-3 border">
      <h2 class="text-center">Salida</h2>
      <div class="form-floating">
        <textarea
          class="form-control"
          name="output"
          id="output"
          style="height: 55vh"            
        >
        {{ output2 }}</textarea
        >
      </div>
    </div>
  </div>